<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <h2>My name is {{ firstName }} {{ lastName }}</h2>
    <h2>Age is {{ age }}</h2>
    <h2>User Active is {{ isActive }}</h2>
    <h1>There is a user called {{ userObject}}</h1>
    <h1>First number is {{ myArray[0]}}</h1>

  </div>
</template>

<script setup>
import { ref, reactive } from "vue";

const firstName = ref("Mark");
const lastName = ref("Zuckerberg");
const age = ref(29)
const isActive = ref(true)

const userObject = ref({
  name: "Elon Musk",
  age:25,
})

const myArray = reactive ([1, 2, 3, 4, 5, 6, 7, 8])
</script>
