<template>
    <div>
        <div>{{ count }}</div>
        <button @click="countUp">Count Up</button>
        <button @click="countDown">Count Down</button>
        <button @click="countReset">Reset</button>
    </div>
</template>

<script setup>
import { reactive } from 'vue';
// const count = ref(0)
const state = reactive({count:0})

function countUp() {
    state.value.count++
}
function countDown() {
    state.value.count--
}
function countReset() {
    state.value.count = 0
}
</script>

<style lang="scss" scoped></style>